.galleryContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: auto;
}
.galleries {
  width: 60vw;
  height: inherit;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.galleryImg {
  width: 250px;
  height: 250px;
}
.imageG:hover {
  opacity: 0.9;
}
.imageG {
  width: 280px;
  height: 280px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-hover {
  background-color: transparent;
  width: 280px;
  height: 280px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  opacity: 0;
  transition: 1s;
}
.image-hover:hover {
  opacity: 1;
  cursor: pointer;
}
.image-hover span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
}
.image-hover p {
  color: snow;
  font-weight: bolder;
}

.galleryIconHeart {
  font-size: 30px;
  color: red;
}
.galleryIconComment {
  font-size: 30px;

  color: lightblue;
}
