.profil {
    border: 1px solid rgb(173, 163, 163);
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    width: 100vw;
    height: 22rem;
  
    .leftProfil {
      width: 45%;
      font-family: "Inconsolata", monospace;
    }
    .rightProfil {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .profilImg {
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
    }
    .profilTop,
    .spans {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }
    button {
      padding: 5px;
    }
    .parameter {
      font-size: 30px;
    }
    .spans {
      height: 9vh;
    }
    .spans span {
      font-weight: bold;
    }
    .profilText {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 10rem;
    }
    .nav {
      border: rgb(165, 50, 50) 1px solid;
      
    }
  }