@media only screen and (max-width: 1024px) {
    .galleryNav span p {
        display: none;
        
    } 
    .storie {
        margin: 0 2px;
    }
    .profilName {
       font-size: x-large;
       text-shadow: 1px 1px 1px gray ;
    }
    .galleries {
        width: 100vw;
    }

}