.stories {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border: none;

  
}
  .storie {
    height: 72px;
    width: 72px;
    border: 1px rgb(173, 163, 163) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    border-radius: 50%;
  }


.storieImg {
  height: 70px;
  width: 70px;
  border-radius: inherit;
}
