* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background-color: snow;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.nav {
  border: 1px solid rgb(173, 163, 163);
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}
.nav h1 {
  font-size: 40px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 33vw;
  //border: 1px black solid;
  height: 3rem;
}

.profil {
  border: 1px solid rgb(173, 163, 163);
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  width: 100vw;
  height: 22rem;

  .leftProfil {
    width: 50%;
    font-family: "Inconsolata", monospace;
  }
  .rightProfil {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
  }
  .profilTop,
  .spans {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
  }
  button {
    padding: 5px;
  }
  .parameter {
    font-size: 30px;
  }
  .spans {
    height: 9vh;
  }
  .spans span {
    font-weight: bold;
  }
  .profilText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
  }
}
.pic {
  background-color: gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
input[type="search"] {
  height: 2rem;
  text-align: center;
}
.stories {
  border: 1px solid rgb(173, 163, 163);
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

  .storie {
    height: 5rem;
    width: 5rem;
    border: 1px rgb(173, 163, 163) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    border-radius: 50%;
  }
}

.storieImg {
  height: 70px;
  width: 70px;
  border-radius: inherit;
}
.galleries {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.galleryImg {
  width: 20rem;
  height: 20rem;
}
.imageG {
  width: 22rem;
  height: 22rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.imageG:hover {
 opacity: 0.6; 
}
.galleryNav {
  height: 5rem;
  border-top: 1px solid rgb(173, 163, 163);
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
}
.galleryNav span {
  width: 8rem;
}
